$body-bg: white;

$body-color: black;

$theme-colors: (
	'primary': #166285,
	'secondary': #4f4f52,
	'success': #198754,
	'info': #3f7679,
	'warning': #ac5b2c,
	'danger': #dc3545,
	'light': #c8c8c8,
	'dark': #2f2f2f
);

@import 'bootstrap/scss/bootstrap';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
